@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Roboto+Condensed:ital,wght@1,700&family=The+Nautigal:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: rgb(173, 173, 173)
}
/*Header and Navigation Section*/
header{
    height: 60px;
}

#nav-section {
    background-color: darkslategray;
    width: 100%;
    line-height: 60px;
    opacity: 0.7;
    position: absolute;
}

#menu a{
    color: white;
    font-size: 40px;
    font-weight: 200;
    text-decoration: none;
    margin-left: 20%;
    float: left;
    display: block;
}

#menu a:hover {
    text-decoration: underline;

}

/*hero-image*/

#image {
    height: 400px;
    width: 100%;
}

#main-image{
    background: url("../images/Bletchley_Park_Mansion.jpg") no-repeat center center / contain;
    height: 400px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'The Nautigal', sans-serif;
    font-size: 100px;
    text-align: center;
    color: ivory;
}

/*About Section*/

#about-section {
    margin-top: 40px;
}

h2 {
    padding-left: 20px;
    text-align: center;
    font-size: 220%;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    padding-left: 20px;
    font-size: 140%;
    font-family: 'EB Garamond', sans-serif;
}

iframe {
    width: 65%;
    height: 500px;
    float: right;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 100px;
    border: 2px solid lightslategrey;
}

/*History*/

#history {
    padding-bottom: 100px;
}

#main-history > img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
}

/*Gallery*/

#gallery-heading {
    margin-bottom: 5px;
}
#gallery {
    width: 100%;
    column-count: 3;
    column-gap: 10px;
}

#images > img{
    height: 300px;
    width: 500px;
    margin-left: 5px;
    margin-bottom: 80px;
    box-shadow: 5px 5px 5px 5px #777777;
}

/*Footer*/
footer {
    background-color: darkslategray;
    height: 200px;
    width: 100%;
    clear: both;
}

footer i {
    float: left;
    font-size: 300%;
    color: rgb(248, 247, 245);
    display: inline;
    letter-spacing: 100px;
    margin-left: 13.5%;
    padding: 5% 0;
}

/*media queries*/
@media  screen and (max-width: 320px) {
    header{
        height: 30px;
    }
    
    #nav-section {
        background-color: darkslategray;
        width: 100%;
        line-height: 30px;
        opacity: 0.7;
        position: absolute;
    }
    
    #menu a{
        color: white;
        font-size: 15px;
        font-weight: 50;
        text-decoration: none;
        margin-left: 15%;
        float: left;
        vertical-align: middle;
    }
    
    #menu a:hover {
        text-decoration: underline;
    
    }

    /*hero-image*/

#image {
    height: 200px;
    width: 100%;
    }

#main-image{
    background: url("../images/Bletchley_Park_Mansion.jpg") no-repeat center center / contain;
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
    }

h1 {
    font-family: 'The Nautigal', sans-serif;
    font-size: 50px;
    text-align: center;
    color: ivory;
    }

    /*About-section*/
    iframe {
        width: 100%;
        height: 200px;
        margin-top: 5px;
        margin-bottom: 20px;
        border: 2px solid lightslategrey;
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: 3%;
    }

/*Gallery*/

#gallery {
    width: 100%;
    column-count: 1;
    }

#images > img{
    display: block;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px #777777;
}

    /*Footer*/
    footer {
        background-color: darkslategray;
        height: 65px;
        width: 100%;
        clear: both;
    }
    
    footer i {
        float: left;
        font-size: 100%;
        color: rgb(248, 247, 245);
        display: inline;
        letter-spacing: 20px;
        margin-left: 13%;
        padding: 7% 0;
    }
}

@media screen and (min-width: 330px) and (max-width: 425px) {

    /*header*/
    header{
        height: 30px;
    }
    
    #nav-section {
        background-color: darkslategray;
        width: 100%;
        line-height: 30px;
        opacity: 0.7;
        position: absolute;
    }
    
    #menu a{
        color: white;
        font-size: 15px;
        font-weight: 50;
        text-decoration: none;
        margin-left: 17%;
        float: left;
        vertical-align: middle;
    }
    
    #menu a:hover {
        text-decoration: underline;
    
    }

    /*hero-image*/

#image {
    height: 200px;
    width: 100%;
}

#main-image{
    background: url("../images/Bletchley_Park_Mansion.jpg") no-repeat center center / contain;
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'The Nautigal', sans-serif;
    font-size: 50px;
    text-align: center;
    color: ivory;
}

/*Gallery*/

#gallery {
    width: 100%;
    column-count: 1;
}

#images > img{
    display: block;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 2px #777777;
}

    /*Footer*/
    footer {
        background-color: darkslategray;
        height: 85px;
        width: 100%;
        clear: both;
    }
    
    footer i {
        float: left;
        font-size: 100%;
        color: rgb(248, 247, 245);
        display: inline;
        letter-spacing: 25px;
        margin-left: 13.1%;
        padding: 8% 0;
    }
}

@media screen and (min-width: 450px) and (max-width: 768px){ 

    /*header*/
    header{
        height: 30px;
    }
    
    #nav-section {
        background-color: darkslategray;
        width: 100%;
        line-height: 30px;
        opacity: 0.7;
        position: absolute;
    }
    
    #menu a{
        color: white;
        font-size: 20px;
        font-weight: 100;
        text-decoration: none;
        margin-left: 20%;
        float: left;
        vertical-align: middle;
    }
    
    #menu a:hover {
        text-decoration: underline;
    
    }

    /*hero-image*/

#image {
    height: 200px;
    width: 100%;
}

#main-image{
    background: url("../images/Bletchley_Park_Mansion.jpg") no-repeat center center / contain;
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'The Nautigal', sans-serif;
    font-size: 50px;
    text-align: center;
    color: ivory;
}

/*Gallery*/

#gallery {
    width: 100%;
    column-count: 2;
    margin-bottom: 20px;
}

#images > img{
    display: block;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 15px;
    box-shadow: 4px 4px 4px 4px #777777;
}

    /*Footer*/
    footer {
        background-color: darkslategray;
        height: 120px;
        width: 100%;
        clear: both;
    }
    
    footer i {
        float: left;
        font-size: 170%;
        color: rgb(248, 247, 245);
        display: inline;
        letter-spacing: 60px;
        margin-left: 12.5%;
        padding: 5.5% 0;
    }
}


@media screen and (min-width: 1024px) {

    #main-history > img {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 300px;
        display: block;
    }
    #gallery {
    width: 100%;
    column-count: 3;
    column-gap: 10px;
    }   

#images > img{
    display: block;
    height: 300px;
    width: 95%;
    margin-left: 5px;
    margin-right: auto;
    margin-bottom: 80px;
    box-shadow: 5px 5px 5px 5px #777777;
    }

    /*footer*/
    footer {
        background-color: darkslategray;
        height: 170px;
        width: 100%;
        clear: both;
    }
    
    footer i {
        float: left;
        font-size: 250%;
        color: rgb(248, 247, 245);
        display: inline;
        letter-spacing: 75px;
        margin-left: 13%;
        padding: 6% 0;
    }
}

@media screen and (min-width: 1440px) {
    footer {
        background-color: darkslategray;
        height: 200px;
        width: 100%;
        clear: both;
    }
    
    footer i {
        float: left;
        font-size: 250%;
        color: rgb(248, 247, 245);
        display: inline;
        letter-spacing: 100px;
        margin-left: 13.5%;
        padding: 5% 0;
    }
}

