@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Roboto+Condensed:ital,wght@1,700&family=The+Nautigal:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: silver;
}
/*Header and Navigation Section*/
header{
    height: 60px;
}

#nav-section {
    background-color: darkslategray;
    width: 100%;
    line-height: 60px;
    opacity: 0.7;
    position: absolute;
}

#menu a{
    color: white;
    font-size: 40px;
    font-weight: 200;
    text-decoration: none;
    margin-left: 20%;
    float: left;
    display: block;
}

#menu a:hover {
    text-decoration: underline;

}

/*hero-image*/

#image {
    height: 400px;
    width: 100%;
}

#main-image{
    background: url("../images/Bletchley_Park_Mansion.jpg") no-repeat center center / contain;
    height: 400px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'The Nautigal', sans-serif;
    font-size: 100px;
    text-align: center;
    color: ivory;
}

/*About Section*/

#about-section {
    margin-top: 40px;
}

h2 {
    padding-left: 20px;
    text-align: center;
    font-size: 220%;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    padding-left: 20px;
    font-size: 140%;
    font-family: 'EB Garamond', sans-serif;
}

iframe {
    width: 100%;
    height: 400px;
}

/*History*/

#main-history > img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
}

/*Gallery*/

#gallery {
    width: 100%;
    column-count: 3;
    column-gap: 10px;
}

#images > img{
    height: 300px;
    width: 500px;
    margin-left: 5px;
    margin-bottom: 80px;
    box-shadow: 5px 5px 5px 5px #777777;
}

/*Footer*/


footer {
    background-color: darkslategray;
    height: 90px;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

#social-media {
    margin-left: 5%;
}

#more-info {
    margin-left: 40%;
}
#social-media, #more-info {
    float: left;
    color: white;
    font-size: 20px;
}

#social-media i {
    font-size: 120%;
    color: black;
}
h4 > a{
    color: white;
    font-size: 24px;
    text-decoration: none;
}

h4 > a:hover {
    text-decoration: underline;
}